/*
COLORS:
Light blue: rgba(161, 231, 252)
Medium blue: rgba(14, 162, 189)
Dark green: #28b485
*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    /* padding: 3rem; */
    box-sizing: border-box;
}

.header{
    height: 100vh;
    background-image: linear-gradient(
        to right bottom, 
    rgba(161, 231, 252, 0.8),
    rgba(14, 162, 189, 0.8)),
    url("../img/hero-min.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo{
    height: 3.5rem;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /* hides animation jumps */
    margin: 6rem;
}

.heading-primary-main{
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .5rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
}

.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s ;
    position: relative;
    /* font-size: 1.6rem; */
}

.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after{
    background-color: white;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation-name: moveInBottom;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards;
}

/* animation name */
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

h2{
    text-align: center;
    text-transform: uppercase;
}

.description{
    text-align: center;
}

.aboutSec{
    float: left;
    padding: 1em;
    width: 50%;
    /* border: 1px #777 solid; */
}

.skillSec{
    float:right;
    width: 50%;
    /* border: 1px #777 solid; */
}

.skillSec article {
    text-align: center;
}

.projects{
    clear: both;
}

article progress{
    color: rgb(0, 148, 153);
}

@media only screen and (max-width: 600px) {
    .skillSec{
        clear: both;
        width: 100vw;
    }
    .aboutSec{
        float: center;
        width: 100vw;
    }

    .btn:link,
    .btn:visited {
    padding: 1rem 2rem;
}

}